body {
    background-color: #0D6578;
}

.navbar {
    background-color: #0D6578;
}

.nav-link {
    font-size: large;
}

.position-relative {
    position: relative;
    padding-bottom: 50px;
}

.profil p{
    font-size: 20px;
    color: white;
    padding-top: 20px;
    margin-left: 15px;
}

.profil a img{
    border-radius: 15px;
    width: 60px; 
    height: 60px;
    margin-left: 15px;
    margin-top: 5px;
}

.nama-profil{
    font-size: 20px;
    color: white;
    padding-top: 20px;
    padding-right: 20px;
}

.container img{
    border-radius: 15px;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
}
  
.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url("https://jejakpiknik.com/wp-content/uploads/2020/08/dokter-gigi-di-medan-yang-menerima-inhealth.jpg");
    background-size: cover;
    color: white;
    text-align: left;
    display: flex;
    position: relative;
}
  
.top-wrapper h1 {
    color: black;
    opacity: 0.7;
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
  
.top-wrapper p {
    color: white;
    opacity: 0.9;
    font-size: 30px;
    margin-bottom: 3px;
}

.btn-wrapper {
    text-align: left;
    margin: 20px 0;
}
  
  .btn-wrapper p {
    margin: 10px 0;
  }

.btn {
    background-color: #2C2B2B;
    opacity: 0.7;
    color: white;
    padding: 10px 20px;
    margin-right: 15px;
  }

.btn:hover {
    background-color: black;
    opacity: 0.7;
    color: white;
    padding: 10px 20px;
    margin-right: 15px;
    font-weight: bold;
}
  
.require {
    margin-top: 280px;
    height: 700px;
}

.feature {
    text-align: center;
    padding: 120px 20px 30px 20px;
    position: relative;
}

.fea-img {
    bottom: 110px;
    position: absolute;
    z-index: 2;
    display: block;
    padding-bottom: 260px;
}


.jadwal-hari-ini {
    color: black;
    background-color: #469CAF;
    opacity: 0.8;
    text-align: center;
    margin: 15px 75px 15px 15px;
    padding: 15px 20px;
    border-radius: 15px;
    position: absolute;
    left: 1000px;
    bottom: -50px;
}

.jadwal-dokter {
    border: 2px solid black ;
    padding: 10px 15px;
    margin: 15px 15px;
}

.jadwal-dokter p{
    font-size: 15px;
    color: black;
}