section {
    background-color: white;
    border-radius: 15px;
    border: 1px solid;
}


.img-dokter {
    
}

.data-dokter {
    background-color: white;
    /* position: static; */
    text-align: center;
}