body{
    background-image: url("/assets/images/halaman awal.png");
    background-repeat: no-repeat;
}

.img-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top:60px;
    margin-bottom:40px;
}

.garis {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:800px; 
    height:8px;
    background-color:black;
    border-radius:50px;
}

.btn-wrapper {
    margin: 70px 700px;
}

.btn-wrapper p {
    margin: 50px ;
}

.masuk {
    background-color: white;
    margin-right: 10px;
}

.daftar {
    background-color: white;
}

.btn {
    padding: 20px 40px;
    color: black;
    display: inline-block;
    opacity: 0.8;
    border-radius: 40px;
    font-size: 40px;
}

.btn:hover{
    opacity: 1;
}
