/* .table {
    margin-top: 40px
} */

.table-container {
    background-color: white;
    border-radius: 15px;
    margin: 50px 150px;
    border-radius: 15px;
}

.table-logo {
    padding: 50px;
    border-radius: 15px;
}

.logo {
    border-radius: 15px;
}